*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    padding: 5% 5%;
    
}

nav{
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content:space-between
}

nav .logo{
    width:350px;
 
    position: absolute;
    left: -20px;
    top: -40px;

}

nav .menu-img{
    width: 30px;
    height: 12px;
    cursor: pointer;
    position: absolute;
    right:150px;
    top:55px;
    opacity: 1;
    animation: fadeIn 5s;
}

nav ul{
    flex: 1;
    text-align: right;
    margin-right: 150px;
    position: absolute;
    top:40px;
    right:150px;

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(197, 48, 160);
    font-weight: 700;
    position: relative;
    padding: 10px;
    opacity: 1;
    animation: fadeIn 5s;
}

nav ul li a:hover{
    color:white;
    cursor: pointer;
    transition-delay:0.1s ;
}

nav ul li a::before{
    content: '';
    width: 100%;
    height: 0px;
    background: rgb(197, 48, 160);
    color:white;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -5px; 
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: height 0.5s;
    
}
 
nav ul li a:hover::before{
    height: 85px;
    color:white;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row a{
    width: 180px;
    height:50px;
    border:none;
    color: rgb(197, 48, 160);
    background: white;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    position: relative;
    animation-delay: 1s;
    
}

.row a:hover{
    color:rgb(197, 48, 160);
    background: white;
    cursor: pointer;
}

.a:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: white;

}

.a:hover:before{
    transition: 0.5s all ease;
    left:0;
    right: 0;
    opacity: 1;
}

.col{
    flex-basis: 50%;
    position: relative;
    animation-delay: 0.5s;
}

.col h1{
    margin-top: 200px;
    font-size:40px;
    font-weight: 600;
}
.feature-img{
    width:90%;
    position: absolute;
    top:35px;
}

.anim2{
    opacity: 1;
    animation: fadeIn 5s;
}

.anim1{
    opacity: 1;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity:1; }
    
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

#preloader{
    background: #e3f4fd url(preloader.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 99999;
}

















































































































































































































    margin-top: 20px;
}

.col h1{
    margin-top: 200px;
    font-size: 40px;
    font-weight: 600;
    
}

.col a{
    text-decoration: none;
    padding: 18px 50px;
    border-radius: 30px;
    background: rgb(197, 48, 160);
    display: inline-block;
    color: white;
    font-weight: 700;
    margin-top: 50px;
    box-shadow:  5px 8px 10px rgba(0,0,0,0.1);
}