*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: white;
    color: black;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(love.png);
    background-size: cover;
    background-position: center;
}